# 表示是最顶层的配置文件，发现设为true时，才会停止查找.editorconfig文件
root = true

# Unix-style newlines with a newline ending every file 对于所有的文件  始终在文件末尾插入一个新行
[*]
end_of_line = lf
insert_final_newline = true

# 设置js文件的代码格式
[*]
charset = utf-8
indent_style = space
indent_size = 2

# 设置json文件的代码格式
[*.json]
indent_style = space
indent_size = 2


